# Numero del puerto
PORT=


# Informacion para conectar con la base de datos
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=


# Contraseña para las sesiones con JWT
JWT_SECRET=


# Correo y contraseña de aplicaciones para enviar correos con "nodemailer"
EMAIL_USER=
EMAIL_PASS=


# Variables para hacer Auth con google
CLIENT_ID=
CLIENT_SECRET=


# Variables de Cloudflare - R2
R2_BUCKET_NAME=
R2_PUBLIC_URL=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=


# Varibles para hacer Push Notifiacation 
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=